<html>
<head>
	<title>mallard-game-index</title>
</head>
<body>
	<h1>Welcome to Mallard Awesomest Word Game Ever!</h1>
	<h4>But watch out, your brain may explode</h4>
	<section class="clearfix" id='main'>
		<div class='test-tobedeletedlater'>
		<div class='environment' id='jungle'>
			<h2>Jungle</h2>
			<button id='button-main'>All Levels</button>
			<h4 class="current_level">You are on level: </h4>
			<article class="levels clearfix clear">
				<div class='level'><h1>1</h1></div>
				<div class='level'><h1>2</h1></div>
				<div class='level'><h1>3</h1></div>
			</article>
		</div>

		<div class='environment' id='savanna'>
			<h2>Savanna</h2>
			<button id='button-main'>All Levels</button>
			<h4 class="current_level">You are on level: </h4>
			<article class="levels clearfix clear">
				<div class='level'><h1>1</h1></div>
				<div class='level'><h1>2</h1></div>
				<div class='level'><h1>3</h1></div>
			</article>
		</div>

		<div class='environment' id='forest'>
			<h2>Forest</h2>
			<button id='button-main'>All Levels</button>
			<h4 class="current_level">You are on level: </h4>
			<article class="levels clearfix clear">
				<div class='level'><h1>1</h1></div>
				<div class='level'><h1>2</h1></div>
				<div class='level'><h1>3</h1></div>
			</article>
		</div>

		<div class='environment' id='farm'>
			<h2>Farm</h2>
			<button id='button-main'>All Levels</button>
			<h4 class="current_level">You are on level: </h4>
			<article class="levels clearfix clear">
				<div class='level'><h1>1</h1></div>
				<div class='level'><h1>2</h1></div>
				<div class='level'><h1>3</h1></div>
			</article>
		</div>

	</section>
</body>
</html>
