<html>
<head>
	<title>mallard-game-index</title>
</head>
<body>
	<h1>Welcome to Mallard Awesomest Word Game Ever!</h1>
	<h3>But watch out, your brain may explode</h3>
	<section class="clearfix" id='main'>

		<div class='environment' id='jungle'>
			<h2>Jungle</h2>
			<h3>You are on level: </h3>
			<article class="levels clearfix clear">
				<div class='level'>Level: 1</div>
				<div class='level'>Level: 2</div>
				<div class='level'>Level: 3</div>
			</article>
		</div>

		<div class='environment' id='savanna'>
			<h2>Savanna</h2>
			<h3>You are on level: </h3>
			<article class="levels clearfix clear">
				<div class='level'>Level: 1</div>
				<div class='level'>Level: 2</div>
				<div class='level'>Level: 3</div>
			</article>
		</div>

		<div class='environment' id='forest'>
			<h2>Forest</h2>
			<h3>You are on level: </h3>
			<article class="levels clearfix clear">
				<div class='level'>Level: 1</div>
				<div class='level'>Level: 2</div>
				<div class='level'>Level: 3</div>
			</article>
		</div>

		<div class='environment' id='farm'>
			<h2>Farm</h2>
			<h3>You are on level: </h3>
			<article class="levels clearfix clear">
				<div class='level'>Level: 1</div>
				<div class='level'>Level: 2</div>
				<div class='level'>Level: 3</div>
			</article>
		</div>

	</section>
</body>
</html>