<html>
<head>
	<title>mallard-game-index</title>
</head>
<body>
	<h1>Welcome to the Spelling Zoo!</h1>
	<h4>(A Team Advice Mallard Production)</h4>
	<section class="clearfix" id='main'>

		<div class='environment' id='jungle'>
			<h2>Jungle</h2>
			<article class="levels clearfix clear">
				<div class='level'><h1>1</h1></div>
				<div class='level'><h1>2</h1></div>
				<div class='level'><h1>3</h1></div>
				<div class='level'><h1>4</h1></div>
				<div class='level'><h1>5</h1></div>
				<div class='level'><h1>6</h1></div>
				<div class='level'><h1>7</h1></div>
				<div class='level'><h1>8</h1></div>
			</article>
		</div>

		<div class='environment' id='savanna'>
			<h2>Savanna</h2>
			<article class="levels clearfix clear">
				<div class='level'><h1>1</h1></div>
				<div class='level'><h1>2</h1></div>
				<div class='level'><h1>3</h1></div>
				<div class='level'><h1>4</h1></div>
				<div class='level'><h1>5</h1></div>
				<div class='level'><h1>6</h1></div>
				<div class='level'><h1>7</h1></div>
				<div class='level'><h1>8</h1></div>
			</article>
		</div>

		<div class='environment' id='forest'>
			<h2>Forest</h2>
			<article class="levels clearfix clear">
				<div class='level'><h1>1</h1></div>
				<div class='level'><h1>2</h1></div>
				<div class='level'><h1>3</h1></div>
				<div class='level'><h1>4</h1></div>
				<div class='level'><h1>5</h1></div>
				<div class='level'><h1>6</h1></div>
				<div class='level'><h1>7</h1></div>
				<div class='level'><h1>8</h1></div>
			</article>
		</div>

		<div class='environment' id='farm'>
			<h2>Farm</h2>
			<article class="levels clearfix clear">
				<div class='level'><h1>1</h1></div>
				<div class='level'><h1>2</h1></div>
				<div class='level'><h1>3</h1></div>
				<div class='level'><h1>4</h1></div>
				<div class='level'><h1>5</h1></div>
				<div class='level'><h1>6</h1></div>
				<div class='level'><h1>7</h1></div>
				<div class='level'><h1>8</h1></div>
			</article>
		</div>

	</section>
</body>
</html>
