/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



span.blank-space {
  font-size: 120px;
}

.letter {
  cursor: grab;
  display:block;
	float:left;
	width:36px;
	height:36px;
	margin:3px;
	text-indent:12px;
	line-height:36px;
	border: 1px #d6bc83 solid;
	border-radius: 2px;
	color:#000;
	text-shadow: -1px -1px 1px rgb(40,40,40);
	font-family: "NewsGoth Cn BT", Optima-Thin, "MS Gothic";
	font-size:24px;
	background-image: -webkit-gradient(
		linear,
		right bottom,
		left top,
		color-stop(0.5, rgb(222,196,139)),
		color-stop(0.7, rgb(230,204,147))
	);
	background-image: -moz-linear-gradient(
		right bottom,
		rgb(222,196,139) 50%,
		rgb(230,204,147) 70%,
	);
	box-shadow: 0 1px 0 #b69c63, 1px 2px 0 #b69c63, 2px 3px 1px #b69c63;
}

}
